[Desktop Entry]
Name=Delta Chat
Comment=Desktop Application for delta.chat
Exec=/app/bin/run.sh %U
Icon=chat.delta.desktop
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Network;Chat;InstantMessaging;
StartupWMClass=deltachat
Keywords=dc;chat;delta;messaging;messenger;email;webxdc
MimeType=x-scheme-handler/openpgp4fpr;x-scheme-handler/mailto;x-scheme-handler/dcaccount;x-scheme-handler/dclogin;
